<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifsp.arq.ifitness">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IFitness">
        <activity
            android:name=".UsuarioPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioLoginActivity"
            android:exported="false" />
        <activity
            android:name=".UsuarioCadastroActivity"
            android:exported="false" />
        <activity
            android:name=".CaminhadaDetalheActivity"
            android:exported="false" />
        <activity
            android:name=".CiclismoDetalheActivity"
            android:exported="false" />
        <activity
            android:name=".CorridaDetalheActivity"
            android:exported="false" />
        <activity
            android:name=".NatacaoDetalheActivity"
            android:exported="false" />
        <activity
            android:name=".EstatisticasActivity"
            android:exported="false" />
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".ListaAtividadesActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <provider
            android:authorities="br.edu.ifsp.arq.ifitness.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>